{% extends 'layout.html'%}

{% block content %}

<section id="about">
        <div class="container">

            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown"><img src="../static/images/aboutus.jpg" alt="services" /></h2>
                <p class="text-center wow fadeInDown">We provide a complete  range of businesses and legal services in all the jurisdiction in which we operate. Our clients benefit from a valuable combination of global insight and global knowledge that allows us to handle all aspect of corporate transactions.</p>
            </div>

            <div class="row">
                <div class="col-sm-6 wow fadeInLeft">
                    <h3 class="column-title" style="color:orangered">Video Intro</h3>
                    <!-- 16:9 aspect ratio -->
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe src="//player.vimeo.com/video/58093852?title=0&amp;byline=0&amp;portrait=0&amp;color=e79b39" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                </div>

                <div class="col-sm-6 wow fadeInRight">
                    <h3 class="column-title" style="color:orangered">Our Capability</h3>
                    <p>Understanding the day to day issues faced by our clients is critical to our success. Our clients benefit from our significant experience in orchestrating complex long-term projects that involves drafting, documentation, facilitating negotiations, incorporating companies, land searches, etc.</p>

                    <p>We aim to provide  the highest possible standard  of legal service, we understand and work together with you to solve the toughest legal issues  in major industries and commercial centres in Nigeria. Whether  you are expanding into new markets, considering capital  from new sources or dealing with increasingly complex regulations or dispute, we can help. </p>
                    <p>A fast changing and inter-connected world requires fresh thinking combined with proven experience, that's what we provide. And while imagination helps at every level, our legal solutions are aligned with your business strategy.</p>

                    <p>Thank you so much for your kind assistance and please do not hesitate to contact me if you need further information.</p>

                    <a class="btn btn-primary" href="#">Learn More</a>

                </div>
            </div>
        </div>
    </section><!--/#about-->

{% endblock %}