{% extends "layout.html" %}

{% block content %}
    {% load staticfiles %}
    <section id="main-slider">
        <div class="owl-carousel">
            <div class="item" style="background-image: url({% static 'images/slider/law18.gif' %});">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h2></h2>
                                    <p> </p>
                                    <a class="btn btn-primary btn-lg" href="#"><strong> From the very start we  provide <br/> the guidelines in realizing <br/> your the company of your dreams</strong></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
            
             <div class="item" style="background-image: url({% static 'images/slider/law20.jpg' %});">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h2> </h2>
                                    <p> </p>
                                    <a class="btn btn-primary btn-lg" href="#"><strong>Providing the building<br/> blocks to acheive your dream</strong></a>
                                </div>
                            </div>k
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
            <div class="item" style="background-image: url({% static 'images/slider/law23a.jpg' %});">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h2></h2>
                                    <p><strong></strong> </p>
                                    <a class="btn btn-primary btn-lg" href="#"><strong>And when you get to <br/> your final destination. <br/>We always there with you</strong></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
        </div><!--/.owl-carousel-->
    </section><!--/#main-slider-->

    <section id="cta" class="wow fadeIn">
        <div class="container">
           
            <div class="row">
                <div class="col-sm-9">
                    <h2>Introduction</h2>
                    <p>At Stella Azom Chambers we have a clear understanding of the needs of our clients, we have an uncommon commitment to deliver high quality service and develop long term client relationship. We help clients maximize opportunities, manage risk and move their business forward.
                    
                    </p>
                </div>
                <div class="col-sm-3 text-right">
                    <a class="btn btn-primary btn-lg" href="#">Download Now!</a>
                </div>
            </div>
             <div class="row">
                <h2>&nbsp Company registration process</h2><br/>
                <div class="col-md-2 col-md-4 col-xs-6">
                    <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
                        <div class="icon-circle">
                            <span>Step 1</span>
                            <i class="fa fa-edit fa-4x"></i>
                        </div>
                        <h5>Incorperate</h5>
                    </div>
                </div>
                <div class="col-md-2 col-md-4 col-xs-6">
                    <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="100ms">
                        <div class="icon-circle">
                            <span>Step 2</span>
                            <i class="fa fa-legal fa-4x"></i>
                        </div>
                        <h5>legal documents</h5>
                    </div>
                </div>
                <div class="col-md-2 col-md-4 col-xs-6">
                    <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="200ms">
                        <div class="icon-circle">
                            <span>Step 3</span>
                            <i class="fa fa-file-text fa-4x"></i>
                        </div>
                        <h5>Company documents</h5>
                    </div>
                </div>
                <div class="col-md-2 col-md-4 col-xs-6">
                    <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="300ms">
                        <div class="icon-circle">
                            <span>Step 4</span>
                            <i class="fa fa-files-o fa-4x"></i>
                        </div>
                        <h5>LLP documents</h5>
                    </div>
                </div>
               
            </div>
        </div>
    </section><!--/#cta-->
    
{% endblock %}