{% extends 'layout.html'%}

{% block content %}
   <section id="services" >
        <div class="container">

            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown"><img src="../static/images/services.jpg" alt="services" /></h2>
                
                <p class="text-center wow fadeInDown">We offer a range of services include:</p>
            </div>

            <div class="row">
                <div class="features">
                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa fa-institution"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading" style="color:orangered">Incorporation of companies</h4>
                                <p>brief explanation</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-eye"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading" style="color:orangered">land searches</h4>
                                <p>brief desciption</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-credit-card"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading" style="color:orangered">Financing</h4>
                                <p>Brief explaination</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->
                
                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-home"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading" style="color:orangered">Leasing, rent, acquistion and disposal of properties</h4>
                                <p>Brief description</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-legal"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading" style="color:orangered">Arbitration</h4>
                                <p>Brief description</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="500ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-signal"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading" style="color:orangered">insurance and tax</h4>
                                <p>Brief description</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->
                </div>
            </div><!--/.row-->    
        </div><!--/.container-->
    </section><!--/#services-->
{% endblock %}